label[for] {
	cursor: pointer;
}

.fi-fo-field {
    grid-template-rows: auto 1fr;
    grid-auto-rows: auto;
    min-height: 100%;
}

.fi-input-wrp {
	box-shadow: 0 0 0 1px var(--vice-color-bg-separation);

	&:focus-within {
		box-shadow:
			0 0 0 1px var(--color-primary-500),
			0 0 0 5px oklch( from var( --color-primary-500 ) l c h / 0.2 );
	}
}

.fi-input-wrp {
    & .fi-input-wrp-prefix,
	& .fi-input-wrp-suffix {
        &:not(.fi-inline) {
			border-color: var(--vice-color-bg-separation-dimmed);
		}
	}
}

.fi-fo-textarea-wrp {
    .fi-input-wrp-content-ctn > div {
        height: 100%;
    }

    .fi-fo-field-content-col {
        grid-template-rows: 1fr auto;
    }
}
