.fi-fo-repeater-item {
	@apply vice-sectioning-box;

	.fi-fo-repeater-item-header {
		background-color: var(--vice-color-bg-separation-fainted);
		border-top-right-radius: var(--radius-xl);
		border-top-left-radius: var(--radius-xl);
		overflow: hidden;
		border-bottom: none;
		padding-inline: calc(var(--spacing) * 6);
	}

	&:not(.fi-collapsed) .fi-fo-repeater-item-header {
		border-bottom: 1px solid var(--vice-color-bg-separation-dimmed);
	}

	&.fi-collapsed .fi-fo-repeater-item-header {
		background-color: transparent;
	}

	.fi-fo-repeater-item-content {
		padding: calc(var(--spacing) * 6);
	}
}