.fi-section:not(.fi-loading-section) {
	@apply vice-sectioning-box;
}

.fi-section {
	&:not(.fi-section-not-contained) {
		&:not(.fi-aside) {
			--tw-shadow: none;
			--tw-ring-shadow: none;
		}
	}
}

.fi-section.fi-section-not-contained {
	background-color: transparent;
	box-shadow: none;
}

.fi-section-header {
	@apply vice-sectioning-box-header;

	& + .fi-section-content-ctn {
		@apply vice-sectioning-box-content;
	}
}