.fi-section:not(.fi-loading-section) {
	@apply vice-sectioning-box;
}

.fi-section {
	&:not(.fi-section-not-contained) {
		&:not(.fi-aside) {
			--tw-shadow: none;
			--tw-ring-shadow: none;
		}
	}
}

.fi-section.fi-section-not-contained {
	background-color: transparent;
	box-shadow: none;
}

.fi-section-header {
	@apply vice-sectioning-box-header;

	& + .fi-section-content-ctn {
		@apply vice-sectioning-box-content;
	}
}

.fi-section-header-text-ctn {
    row-gap: calc(var(--spacing) * .5);
}

.fi-wi-widget:has(.fi-section-content) {
	background-color: var(--vice-color-bg-canvas);
	border-radius: var(--radius-xl);
}

.fi-section-header-description {
    .dark & {
        color: var(--gray-300);
    }
}
