:root {
	font-feature-settings: "tnum", "ss01", "zero", "cv11";
}

@view-transition {
	navigation: auto;
}

.fi-body {
	color: var(--vice-color-text);
}

.fi-ta-text-item {
	color: inherit;
}

.fi-ta-text-description,
.fi-input-wrp + .fi-sc .fi-sc-text {
	color: var(--vice-color-text-weak);
}

.fi-fo-field-label-content,
.fi-fo-radio-label-text {
	color: var(--vice-color-text-strong);
}

.fi-logo,
.fi-font-semibold,
.fi-section-header-heading,
.fi-wi-stats-overview-stat-value,
.fi-fo-repeater-item-header-label,
.fi-ta-header-cell {
	color: var(--vice-color-text-stronger);
}

html,
body {
	background-color: var(--vice-color-bg-canvas);
}

.fi-main {
	min-height: 100vh;
	background-color: var(--vice-color-bg-main);

	border-block-start: 1px solid var(--vice-color-bg-separation);
	border-inline: 1px solid var(--vice-color-bg-separation);
	border-top-left-radius: var(--radius-2xl);
	border-top-right-radius: var(--radius-2xl);

	@media (width <= 1601px) {
		border-top-right-radius: 0;
		border-inline-end: none;
	}

	@media (width <= 1023px) {
		border-top-left-radius: 0;
		border-inline-start: none;
	}

	@media (width >= 64rem) {
		padding-inline: calc(var(--spacing) * 12);
		padding-block: calc(var(--spacing) * 0.5);
	}
}

.fi-body-has-top-navigation {
	.fi-main {
		margin-block-start: calc(var(--spacing) * 8);
	}
}

a:not(:where(.fi-sidebar-item-btn,.fi-btn)):hover {
    text-decoration: underline;
}

.fi-header {
    & .fi-breadcrumbs {
        margin-block-end: calc(var(--spacing) * 2.5);
    }
}
