:root {
	font-feature-settings: "tnum", "ss01", "zero", "cv11";
}

/* @view-transition {
	navigation: auto;
} */

.fi-body {
	color: var(--vice-color-text);
}

.fi-ta-text-item {
	color: inherit;
}

.fi-ta-text-description,
.fi-input-wrp + .fi-sc .fi-sc-text {
	color: var(--vice-color-text-weak);
}

.fi-fo-field-label-content,
.fi-fo-radio-label-text {
	color: var(--vice-color-text-strong);
}

.fi-logo,
.fi-font-semibold,
.fi-section-header-heading,
.fi-wi-stats-overview-stat-value,
.fi-fo-repeater-item-header-label,
.fi-ta-header-cell {
	color: var(--vice-color-text-stronger);
}

html,
body {
	background-color: var(--vice-color-bg-canvas);
}

.fi-main-ctn {
    background-color: var(--vice-color-bg-main);
    border-top: 1px solid var(--vice-color-bg-separation);

    @media (width >= 64rem) {
        border-top: none;
        border-left: 1px solid var(--vice-color-bg-separation);
        overflow-x: clip;
    }
}

.fi-main {
	min-height: 100vh;
    max-width: 90.5rem;

    @media (width >= 64rem) {
        padding-inline: calc(var(--spacing) * 8);
    }
}

a:not(:has(.fi-copyable)):not(:where(.fi-sidebar-item-btn,.fi-btn)):hover {
    text-decoration: underline;
}

.fi-header {
    & .fi-breadcrumbs {
        margin-block-end: calc(var(--spacing) * 2.5);
    }
}

.fi-loading-section {
	background-color: transparent;
}