.fi-body-has-navigation {
	.fi-topbar {
		--tw-shadow-color: transparent;
		--tw-ring-color: transparent;
	}
}

.fi-body-has-navigation:not(.fi-body-has-top-navigation) {
	.fi-topbar {
		background-color: transparent;
	}
}

.fi-body-has-top-navigation {
	.fi-topbar {
		background-color: var( --vice-color-bg-canvas );

		&:before {
			position: absolute;
			content: "";
			display: block;
			left: 0;
			right: 0;
			width: 100%;
			top: 100%;
			background: linear-gradient(in oklch to bottom, var( --vice-color-bg-canvas ), transparent);
			height: calc( var(--spacing) * 8 );
		}
	}

	.fi-active {
		.fi-topbar-item-btn {
			background-color: var( --vice-color-bg-main );
		}
	}
}

[class*="-item-label"] {
	color: var(--vice-color-text);
}

.fi-active {
	> [class*="-item-btn"] {
		background-color: var( --vice-color-bg-main );
		box-shadow: 0 0 0 1px var( --vice-color-bg-separation );

		> [class*="-item-label"] {
			color: var( --vice-color-text-stronger );
		}
	}
}
