.fi-body-has-navigation {
	.fi-topbar {
        background-color: transparent;
		--tw-shadow-color: transparent;
		--tw-ring-color: transparent;
	}
}

.fi-body-has-top-navigation .fi-topbar-ctn {
    background-color: var(--vice-color-bg-canvas);
    border-bottom: 1px solid var(--vice-color-bg-separation);
}

body:not(.fi-body-has-top-navigation) {
    @media (width >= 64rem) {
        .fi-topbar-ctn {
            max-width: 20rem;
            position: fixed;
            left: 0;
            top: 0;
        }
    }
}

[class*="-item-label"] {
	color: var(--vice-color-text);
}

:is(.fi-sidebar-item,.fi-topbar-item){
    &.fi-active {
        > [class*="-item-btn"] {
            @apply vice-sectioning-box;

            background-color: var(--vice-color-bg-main);
            border-radius: var(--radius-lg);

            > [class*="-item-label"] {
                color: var(--vice-color-text-stronger);
            }
        }
    }

    &:not(.fi-active) .fi-sidebar-item-btn:hover {
        background-color: var(--gray-100);

        .dark & {
            background-color: var(--gray-925, var(--color-gray-900));
        }
    }
}

.fi-user-menu-trigger {
    justify-content: flex-start;

    &:hover {
        background-color: var(--gray-100);

        .dark & {
            background-color: var(--gray-925, var(--color-gray-900));
        }
    }
}

.fi-user-menu-trigger {
    .fi-icon  {
        display: none;
    }
}

.fi-theme-switcher-btn {
    &.fi-active {
        box-shadow: 0 0 0 1px var(--vice-color-bg-separation), var( --vice-color-bg-separation-shadow );
    }
}

.fi-topbar-start .fi-logo {
	margin-inline-start: 0;
}
