.fi-body-has-navigation {
	.fi-topbar {
        background-color: transparent;
		--tw-shadow-color: transparent;
		--tw-ring-color: transparent;
	}
}

.fi-body-has-top-navigation .fi-topbar-ctn {
    background-color: var(--vice-color-bg-canvas);
    border-bottom: 1px solid var(--vice-color-bg-separation);
}

body:not(.fi-body-has-top-navigation) {
    @media (width >= 64rem) {
        .fi-topbar-ctn {
            max-width: 20rem;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

[class*="-item-label"] {
	color: var(--vice-color-text);
}

:is(.fi-sidebar-item,.fi-topbar-item).fi-active {
	> [class*="-item-btn"] {
		@apply vice-sectioning-box;

		background-color: var(--vice-color-bg-main);
		border-radius: var(--radius-lg);

		> [class*="-item-label"] {
			color: var(--vice-color-text-stronger);
		}
	}
}

.fi-user-menu-trigger {
    justify-content: flex-start;
}

.fi-user-menu-trigger {
    .fi-icon  {
        display: none;
    }
}
