@import '../../../../../vendor/filament/filament/resources/css/theme.css';
@source '../../../../app/Filament';
@source '../../../../resources/views/filament';
@import "tailwindcss";

@import "./components/forms/field.css";
@import "./components/forms/section.css";
@import "./components/forms/label.css";
@import "./components/forms/toggle.css";
@import "./components/badge.css";
@import "./components/tables.css";
@import "./components/widgets.css";

@theme {
	--radius-xl: .5rem;
	--radius-lg: .25rem;
	--radius-md: .15rem;
	--radius-sm: .05rem;
	--radius-xs: .025rem;
}

:root {
	--vice-bg: var(--color-gray-100);

	:where( .dark, .dark * ) {
		--vice-bg: var(--color-gray-900);
	}
}

html,
body {
	background-color: var(--vice-bg);
}

.fi-topbar {
	background-color: transparent;
	box-shadow: none;
}

.fi-main-ctn {
	background-color: var(--color-white);
	border-top-left-radius: var(--radius-xl);
	margin-block-start: calc(var(--spacing) * 3);
	border: 1px solid var(--color-gray-300);
}

.fi-sidebar-item.fi-active {
	border-radius: var(--radius-lg);
	box-shadow: 0 0 0 1px var(--color-gray-300);

	& > .fi-sidebar-item-btn {
		background-color: var(--color-white);
	}
}