@import '../../../../../vendor/filament/filament/resources/css/theme.css';
@source '../../../../app/Filament';
@source '../../../../resources/views/filament';
@import "tailwindcss";

@import "./layout/global.css";
@import "./layout/navigation.css";
@import "./components/badge.css";
@import "./components/table.css";

:root {
	--radius-2xl: 1rem;
	--radius-xl: .5rem;
	--radius-lg: .25rem;
	--radius-md: .15rem;
	--radius-sm: .05rem;
	--radius-xs: .025rem;

	--vice-color-text: var(--color-gray-500 );
	--vice-color-text-strong: var(--color-gray-700 );
	--vice-color-text-stronger: var(--color-gray-900 );
	--vice-color-bg-canvas: var(--color-gray-50);
	--vice-color-bg-main: var(--color-white);
	--vice-color-bg-separation: var(--color-gray-300);

	&.dark {
		--vice-color-text: var(--color-gray-400 );
		--vice-color-text-strong: var(--color-gray-200 );
		--vice-color-text-stronger: var(--color-white );
		--vice-color-bg-canvas: var(--color-gray-900);
		--vice-color-bg-main: var(--color-gray-800);
		--vice-color-bg-separation: var(--color-gray-600);
	}
}