.fi-badge {
	--tw-shadow: none;
	border-radius: var(--radius-lg);

	&.fi-color {
		--text: var(--color-600);
		background-color: var(--color-200);
	}
}

.dark .fi-badge.fi-color {
	--dark-text: var(--color-800);
	background-color: var(--color-300);
}

.fi-badge-delete-btn {
    svg {
        fill: inherit;
    }
}
