.fi-ta .fi-ta-ctn {
	--tw-shadow-color: transparent;
	--tw-ring-color: transparent;
	background-color: transparent;
	overflow: visible;
}

.fi-ta-header-ctn {
	border-bottom-width: 0;
	overflow: visible;
}

.fi-ta-content-ctn {
	border-bottom-width: 0;
	overflow: scroll;
}

.fi-ta-ctn .fi-ta-header-toolbar {
	padding-inline: 0;
	border-top: none;
	/* justify-content: space-between;
	flex-direction: row-reverse;

	& > :nth-child(2) {
		margin-inline-start: initial;
	} */
}

.fi-ta-selection-indicator {
	padding-inline: calc( var(--spacing) * 3 );
	border: none;
	border-radius: var(--radius-lg);
	background: var(--vice-color-bg-separation-fainted);
}

.fi-ta-table {
	& > tbody > :not(:last-child) {
		border-color: var(--vice-color-bg-separation-dimmed);
	}

	& > thead {
		border-color: var(--vice-color-bg-separation);
		/* border-top-width: 1px; */

		& > tr {
			background: transparent;
		}
	}
}

.fi-ta-header {
	padding-inline: 0;
}

.fi-ta-header-cell {
	@media (width >= 40rem) {
			padding-inline-start: 0;
			padding-inline-end: 0;
	}
}

.fi-ta-row {
	&.fi-clickable {
		&:hover {
			@media (hover: hover) {
				background-color: transparent;
			}
		}
	}

	&.fi-selected {
		background-color: transparent;

		& > :first-child {
			&::before {
				content: none;
			}
		}
	}
}

.fi-ta-cell {
	@media (width >= 40rem) {
		&:first-of-type {
			padding-inline-start: 0;
		}

		&:last-of-type {
			padding-inline-end: 0;
		}
	}

	&.fi-ta-selection-cell {
		padding-inline-end: calc(var(--spacing) * 6);

		& .fi-checkbox-input {
			margin-top: -0.2rem;
		}
	}
}

.fi-ta-text {
	&:not(.fi-inline) {
		padding-inline-start: 0;
	}
}

.fi-pagination {
	padding-inline: 1px;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.fi-ta-summary-header-row {
	background: transparent;

	.fi-ta-summary-header-cell {
		padding-inline: 0;
	}
}


.fi-ta-summary-row {
	background: transparent;

	.fi-ta-text-summary {
		padding-inline: 0;
	}
}