.fi-ta .fi-ta-ctn {
	--tw-shadow-color: transparent;
	--tw-ring-color: transparent;
	background-color: transparent;
	overflow: visible;
}

.fi-ta-header-ctn,
.fi-ta-content-ctn {
	border-bottom-width: 0;
}

.fi-ta-header-toolbar {
	padding-inline: 1px;
}

.fi-ta-table {
	& > tbody > :not(:last-child) {
		border-color: var(--vice-color-bg-separation-dimmed);
	}

    & > thead {
		border-color: var(--vice-color-bg-separation);

		& > tr {
			background: transparent;
		}
	}
}

.fi-ta-header-cell {
    @media (width >= 40rem) {
			padding-inline-start: 0;
			padding-inline-end: 0;
	}
}

.fi-ta-row {
    &.fi-clickable {
        &:hover {
            @media (hover: hover) {
                background-color: transparent;
            }
        }
    }
}

.fi-ta-cell {
    @media (width >= 40rem) {
        &:first-of-type {
			padding-inline-start: 0;
		}

		&:last-of-type {
			padding-inline-end: 0;
		}
	}
}

.fi-ta-text {
    &:not(.fi-inline) {
		padding-inline-start: 0;
	}
}

.fi-pagination {
	padding-inline: 1px;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}