.fi-tabs {
	box-shadow: 0 0 0 1px var(--vice-color-bg-separation);
	background-color: transparent;
	column-gap: calc(var(--spacing) * 2);
    margin: 0;

    &:not(.fi-contained) {
        border-radius: calc(var(--radius-lg) + (var(--spacing) * 2));
    }
}

.fi-tabs-item.fi-active {
	background-color: var(--vice-color-bg-main);
	box-shadow: 0 0 0 1px var(--vice-color-bg-separation);
}

.fi-tabs-item:hover {
	background-color: var(--vice-color-bg-separation-fainted);
	box-shadow: 0 0 0 1px var(--vice-color-bg-separation-dimmed);
}

.fi-sc-tabs-tab {
	margin-block-start: calc(var(--spacing) * 10);
}

.fi-sc-tabs-tab {
	background-color: transparent;
}
