.fi-input-wrp {
	box-shadow: 0 0 0px 1px var(--color-gray-200);
	overflow: hidden;

	&:focus-within {
		box-shadow: 0 0 0px 2px var(--color-primary-500);
	}
}

input[list]::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.fi-input-wrp .fi-input-wrp-prefix {
	background-color: var(--color-gray-200);
}

.fi-input-has-inline-prefix {
	padding-inline-start: calc(var(--spacing) * 3);
}

.fi-input-wrp {
    & .fi-input-wrp-prefix {
        &.fi-inline {
            padding-inline-end: calc(var(--spacing) * 3);
        }
    }
}